@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  font-size: 1em;
  line-height: 1.4em;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Apertura Index*/
.indexContainer {
  background-image: url(../img/fondo\ index.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 6em 14em 15em 15em 6em;
  grid-template-areas:
    "banner banner"
    "presentation nav"
    "offer offer"
    "products products"
    "footer footer";
  justify-items: center;
  justify-content: center;
}

.presentation {
  grid-area: presentation;
}

.list-group {
  grid-area: nav;
}

.offer {
  grid-area: offer;
}

.products {
  grid-area: products;
}

footer {
  grid-area: footer;
}

/*banner*/
.banner {
  background-color: #000;
  color: rgb(255, 255, 255);
  grid-area: banner;
  display: grid;
  width: 100%;
}

.logo {
  width: 9em;
  height: 3.5em;
  text-align: center;
  margin: auto;
  padding-top: 0.3em;
  margin-bottom: 0.3em;
}

.slogan {
  color: rgb(218, 213, 213);
  font-size: 0.9em;
  text-align: center;
  margin: 0;
  letter-spacing: 0.1em;
}
/*banner*/

/*barra de navegación index*/
nav {
  height: 80%;
  background-color: rgba(238, 180, 34, 0.4);
  width: 65%;
  border-radius: 0.5em;
  margin: auto;
}

.menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas:
    "inicio"
    "nosotros"
    "productos"
    "marcas"
    "contacto";
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ini {
  grid-area: inicio;
}

.nos {
  grid-area: nosotros;
}

.pro {
  grid-area: productos;
}

.mar {
  grid-area: marcas;
}

.con {
  grid-area: contacto;
}

nav a {
  padding: 0.2em 0.7em 0.2em 0.7em;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: #000;
}

nav a:hover {
  background-color: black;
  color: #fff;
  transition: 0.3s;
}

.navigationMenu {
  list-style: none;
}
/*barra de navegación index*/

/*presentación*/
.presentation {
  text-align: center;
  margin-top: 0.5em;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 0.8em;
  color: rgb(233, 222, 222);
}

.subtitle {
  font-size: 1.2em;
  color: rgb(238, 180, 34);
  letter-spacing: 0.1em;
}

.expertise {
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 3em;
  color: rgb(233, 222, 222);
}

.buttonIndex {
  text-decoration: none;
  color: #fff;
  background-color: rgb(75, 75, 75);
  letter-spacing: 0.2em;
  font-size: 1em;
  padding: 1em 2em;
  margin-bottom: 4em;
  border-radius: 2em;
}

.buttonIndex:hover {
  background-color: #000;
  transition: 0.5s;
}

.offer {
  background-color: rgba(245, 239, 239, 0.4);
  height: 10em;
  width: 100%;
  align-self: center;
}

.title2 {
  font-size: 5em;
  text-align: center;
  color: #000;
  padding: 0;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

.subtitle2 {
  font-size: 1.5em;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  color: #000;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.8em;
}
/*presentación*/

/*productos*/
.products {
  grid-area: products;
  width: 100%;
  color: #000;
  height: 100%;
  display: flex;
  align-items: center;
}

.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box1,
.box2,
.box3 {
  background-size: cover;
  border-radius: 0.3em;
  height: 10em;
  text-align: center;
  margin-right: 0.4em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.box1 {
  background-image: url(../img/repuestos\ 3.jpg);
}

.box2 {
  background-image: url(../img/pexels-pixabay-159298.jpg);
}

.box3 {
  background-image: url(../img/accesorios\ 3.jpg);
}

.product:hover {
  background-color: rgba(238, 180, 34, 0.4);
  border-radius: 0.3em;
  transition: 0.3s;
}

.product {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 1.8em 3.8em 1.8em 3.8em;
}
/*productos*/
/* Cierre Index*/

/*barra de navegación 2*/
.nav2 {
  margin: 0;
  width: 100%;
}

.nav2 a {
  height: 2.7em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #fff;
  width: 8em;
  letter-spacing: 0.1em;
}

.nav2 a:hover {
  background-color: black;
  transition: 0.5s;
}

.menu2 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(75, 75, 75);
}

.submenu {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.navigationMenu2 {
  list-style: none;   
  position: relative;
}

.navigationSubmenu {
  list-style: none;
  display: none;
}

.nav2 li:hover .submenu > li {
  display: block;
  top: 0em;
  background-color: rgb(75, 75, 75);
  transition: 0.7s;
}
/*barra de navegación 2*/

/*sección nosotros*/
.usContainer {
  background-image: url(../img/pexels-photo-821735.jpeg);
  height: 100vh;
  background-size: cover;
  color: #fff;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}

.us-title {
  font-size: 8em;
  line-height: 0.6em;
  margin: 0;
  padding-top: 0.5em;
  padding-right: 0.3em;
}

.us-text {
  font-size: 1.1em;
  line-height: 1.8em;
  padding-top: 1em;
  padding-right: 2.8em;
}

.social-media {
  width: 3em;
  height: 3em;
}

.wa {
  margin-right: 10em;
}

.map {
  background-image: url(../img/mapa\ mundial.jpg);
  background-size: cover;
  height: 47em;
  position: relative;
}

.plane {
  width: 8em;
  height: 3em;
  position: absolute;
  top: 89%;
  left: 25%;
  animation-name: planeMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-delay: 2s;
}

@keyframes planeMovement {
  0% {
    left: 25%;
    top: 89%;
  }
  20% {
    left: 44%;
    top: 35%;
  }
  40% {
    left: 55%;
    top: 47%;
  }
  60% {
    left: 68%;
    top: 45%;
  }
  80% {
    left: 15%;
    top: 42%;
  }
  100% {
    left: 25%;
    top: 89%;
  }
}

.whiteLogo {
  width: 12em;
  height: 5em;
  position: absolute;
  top: 89%;
  left: 43%;
}
/*sección nosotros*/

/*Apertura sección productos*/
.titlePro {
  font-size: 5em;
  letter-spacing: 0.7em;
  background-color: rgba(184, 177, 177, 0.7);
  margin: 0;
  width: 54.1%;
  height: 55%;
  line-height: 1;
}

.productsContainer {
  height: 28.1em;
  width: 100%;
  display: flex;
}

.productsContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.productsContainer img {
  width: 100%;
}

.productsContainer a {
  line-height: 0;
}

.productsContainer img:hover {
  opacity: 0.8;
}

.rep {
  font-size: 4em;
  margin: 0;
  margin-right: 0.7em;
}

.maquinas {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.rightP {
  font-size: 1.2em;
  font-family: "Old Standard TT", serif;
  width: 60%;
  margin-top: 0em;
  text-align: center;
}

.lubricantes {
  font-size: 4em;
  margin: 0;
}

.leftP {
  font-size: 1.2em;
  font-family: "Old Standard TT", serif;
  width: 60%;
  text-align: center;
}

.accesorios {
  font-size: 4em;
  margin: 0;
  margin-bottom: 0.3em;
}

/*Sección repuestos*/
.titleParts {
  font-size: 5em;
  letter-spacing: 0.7em;
  background-color: rgba(184, 177, 177, 0.7);
  margin: 0;
  width: 53.6%;
  height: 55%;
  line-height: 1;
}

.parts {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 100%;
  height: 8em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 5px;
}

.boxItem {
  width: 22%;
  padding: 0.5em 0.5em;
}

.item {
  width: 100%;
}
/*Sección repuestos*/

/*Sección lubricantes*/
.coverOils {
  width: 100%;
  height: 10em;
  background-image: url(../img/portada\ lubricantes.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleOils {
  font-size: 5em;
  letter-spacing: 0.7em;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 65.6%;
  height: 46%;
  line-height: 1;
}

.oils {
  font-family: "Old Standard TT", serif;
  font-weight: 800;
  font-size: 1.3em;
  width: 80%;
  margin-top: 2em;
  line-height: 2em;
  text-justify: distribute-all-lines;
}

.oilsSub,
.oilsSub2 {
  font-size: 2em;
  border-bottom: 3px solid rgb(238, 180, 34);
  border-right: 3px solid rgb(238, 180, 34);
  border-left: 3px solid rgb(238, 180, 34);
  border-radius: 0.4em;
}

.oilsSub {
  width: 28%;
}

.oilsSub2 {
  width: 54%;
}

.oils h3 {
  background-color: #000;
  color: rgb(238, 180, 34);
  text-align: center;
}

.imgOils {
  width: 100%;
  height: 26em;
}

.fas,
.fa {
  margin-right: 0.3em;
  color: rgb(238, 180, 34);
}

.fa-thumbs-down:before {
  content: "\f105";
}
/*Sección lubricantes*/

/*Sección accesorios*/
.coverAcc {
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleAcc {
  font-size: 5em;
  letter-spacing: 0.7em;
  background-color: rgba(184, 177, 177, 0.7);
  margin: 0;
  width: 59.2%;
  height: 46%;
  line-height: 1;
}
/*Sección accesorios*/
.data {
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.dataText {
  background-color: rgb(87, 84, 84);
  text-align: center;
  color: #fff;
}

.dataText2 {
  background-color: #000;
  color: rgb(238, 180, 34);
  text-align: center;
}

#buttonParts,
#buttonParts2 {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  color: #fff;
  background-color: rgb(87, 84, 84);
  letter-spacing: 0.1em;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 1.5em;
  border-radius: 2em;
}

#buttonParts2 {
  background-color: #000;
}

#buttonParts:hover {
  background-color: #000;
  transition: 0.5s;
}

#buttonParts2:hover {
  color: rgb(238, 180, 34);
  transition: 0.5s;
}

.fingerDown {
  width: 2.5em;
  height: 2.5em;
}
/*Cierre sección productos*/

/*Sección marcas*/
.trademarksTable {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.cellWidth {
  width: 25%;
  text-align: center;
}

.videoWidth {
  width: 50%;
  text-align: center;
}

.trademarksVideo {
  width: 75%;
}
/*sección marcas*/

/*sección contacto*/
.quotesContainer {
  background-image: url(../img/pexels-marc-mueller-380769.jpg);
  background-size: cover;
  height: 50em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quotes {
  font-family: "Bebas Neue", cursive;
  color: gray;
  font-size: 3.5em;
  padding-top: 0.7em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}

.quotesSub {
  padding-bottom: 1.2em;
  color: gray;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-weight: lighter;
}

form {
  background: rgb(0, 0, 0);
  width: 35%;
  padding: 0.1em 0.1em;
  border-radius: 0.7em;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.8);
}

.form {
  width: 100%;
}

.group {
  position: relative;
  margin: 1.6em 4.6em;
}

input,
textarea {
  font-family: "Old Standard TT", serif;
  background: none;
  color: gray;
  font-size: 1em;
  padding: 0.7em 0.7em 0.7em 0.4em;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(143, 141, 141);
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  color: rgb(170, 167, 167);
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  position: absolute;
  top: -0.8em;
  font-size: 1em;
  color: rgb(170, 167, 167);
}

label {
  position: absolute;
  font-size: 1.1em;
  color: rgb(168, 166, 166);
  left: 0.1em;
  top: 0.2em;
  transition: 0.5s ease all;
  letter-spacing: 0.2em;
}

.barra {
  position: relative;
  display: block;
  width: 106%;
}

input:focus ~ .barra::before,
textarea:focus ~ .barra::before {
  width: 100%;
}

.barra::before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #6a82fb, #fc5c7d);
  transition: 0.5s ease all;
  left: 0%;
}

.buttonContact {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50#bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  display: block;
  width: 7em;
  height: 2.5em;
  border: none;
  color: #000;
  border-radius: 4px;
  font-size: 1.1em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3.5em;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  letter-spacing: 4px;
}

.textContainer {
  width: 40%;
}

.textContact {
  font-size: 4em;
  margin: 0;
  line-height: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}
/*sección contacto*/

.line {
  height: 0.7em;
  background-color: rgb(75, 75, 75);
  width: 100%;
  border: 0;
  margin: 0;
}

/*pie de página*/
.footerIndex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  letter-spacing: 0.2em;
  font-weight: lighter;
  text-align: center;
}

.footerIndex p {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
}

footer {
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  letter-spacing: 0.2em;
  font-weight: lighter;
}
/*pie de página*/

/* Small devices (landscape phones, max 576px)*/
@media (max-width: 576px) {
  .indexContainer {
    grid-template-columns: 100%;
    grid-template-rows: 6em 14em 8em 14em 9em 4em;
    grid-template-areas:
      "banner"
      "presentation"
      "nav"
      "offer"
      "products"
      "footer";
    justify-content: center;
    justify-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 98%;
  }

  .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2em;
  }

  nav a {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    color: #000;
    align-self: center;
  }

  .presentation {
    margin-top: 0;
  }

  .title {
    font-size: 1.5em;
  }

  .offer {
    height: 11.5em;
  }

  .title2 {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
    font-size: 3em;
  }

  .box1,
  .box2,
  .box3 {
    height: 6em;
  }

  .product {
    font-size: 0.8em;
  }

  .footerIndex p {
    text-align: center;
    margin: 0;
    font-size: 0.8em;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .indexContainer {
    grid-template-rows: 6em 15em 14em 12em 6em;
  }

  .title {
    font-size: 1.5em;
  }

  .title2 {
    font-size: 4em;
  }

  .offer {
    height: 11.5em;
  }

  .box1,
  .box2,
  .box3 {
    height: 8em;
  }

  .product {
    font-size: 1em;
  }

  .footerIndex p {
    font-size: 0.9em;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .indexContainer {
    grid-template-rows: 6em 16em 14em 13em 7em;
  }

  .offer {
    height: 11em;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .indexContainer {
    grid-template-rows: 6em 16em 14em 13em 7em;
  }
}
