/*pie de página index*/
.footerIndex {
  letter-spacing: 0.2em;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include base-module;
  
  p {
    text-align: center;
    font-size: 1em;
    @include base-module;
  }
}
/*pie de pagina index*/
  
/*pie de página*/
footer {
  height: 6em;
  text-align: center;
  color: #000;
  letter-spacing: 0.2em;
  font-weight: lighter;
  margin-top: 4em;

  p {
    margin: 0;
  }
}
/*pie de página*/